ul{
    list-style-type:none;
}

.panelMainInput{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 100px;
}

.panelMainInput input{
    font-family: "Comic Sans MS";
    font-size: 120%;
}

.panelSubInput{
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px !important;
}

.fixed-bottom{
    margin-right: 29px;
    margin-left: 29px !important;
}

.panelUser{
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

.panelUser img{
    text-align: right;
}

.panelChatMessages{
    height: 80vh;
    overflow: auto;
}

.panelChatMessages>li{
    list-style: none !important;
}

.panelSendButton{
    text-align: right;
}

.panelSendButton i{
    margin-left: 15px;
}

.panelSendButton button{
    font-size: large;
    background-color: #6d99db;
    color: white;
    border: 1px solid #c8dbf7;
    border-radius: 5px;
    width: 30%;
}

.panelMsgUser{
    display: inline;
    margin-left: 10px;
}

.panelMessage{
    display: inline;
    border: 1px solid #c8dbf7;
    border-radius: 15px;
    margin: 5px;
    margin-left: 20px;
    padding:10px;
    padding-right: 8px;
    background-color: #eef4fc;
    font-family: "Comic Sans MS";
    font-size: 140%;
    font-weight: 700;
}

.panelMessageList{
    padding: 0px;
}