
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header text-left aligned-left">
      
            UserName : <div>{{user?.displayName}}</div>
            Email: {{user?.email}}
            <img *ngIf="user" [src]="getSercureURl(user.photo_source)" height="100" width="100" />
     
      </div>
    </div>
  </nav>

<div class="panel panel-default  center-block">
  <div class="panel-heading">
    <div class="panel-title">Chat
      <i class="glyphicon glyphicon-comment"></i>
    </div>
  </div>

  <div class="panel-body">
    <ul>
      <li *ngFor="let message of messages | async">
        <img style="border-radius: 50%" height="50" width="50" [src]="getSercureURl(message.userPhoto)" />

        <label>{{message?.userName}} :</label>
        <label> {{message?.text}} </label>

      </li>
    </ul>
  </div>

  <div class="panel-footer">
    <div class="form-group">
      <form ng-submit="sendMessage()">
      <label for="message">Message</label>
      <input [(ngModel)]="messageText" (keyup.enter)="sendMessage()"  type="text" class="form-control" name="message" id="message" aria-describedby="helpId" placeholder="free text">
     
    </form>
    </div>
    <button (click)="sendMessage()" class="btn btn-outline-info">SendMessage <i class="glyphicon glyphicon-hand-left"></i></button>

  </div>


</div>