<div class="container-fluid panelMain">

  <div class="row">
    <div class="col-lg-3 offset-lg-2">

          <!-- Channels -->
     <app-channel></app-channel>

      <div class="panelSubInput">
        <div class="form-group">
          <form ng-submit="searchInMessages()">
            <label for="message">Search</label>
            <input [(ngModel)]="searchText" (keyup.enter)="searchInMessages()" type="text" class="form-control" name="message"
              id="message" aria-describedby="helpId" placeholder="free text">

          </form>
        </div>
        <button (click)="searchInMessages()" class="btn btn-outline-info">Go <i class="glyphicon glyphicon-hand-left"></i></button>
        <button (click)="searchClear()" class="btn btn-outline-info">Clear <i class="glyphicon glyphicon-hand-left"></i></button>

      </div>
    </div>

    <div class="col-lg-5">
      <div class="panel panel-default  center-block">
        <div class="panel-heading">
          <div class="panel-title">Chat
            <i class="glyphicon glyphicon-comment"></i>
          </div>
        </div>

        <div class="panel-body panelChatMessages">
          <ul class="panel-list panelMessageList">
            <li *ngFor="let message of messages | async">
              <img style="border-radius: 50%" height="50" width="50" [src]="getSercureURl(message.userPhoto)" />
              <div class="panelMsgUser"><label>{{message?.userName}} :</label></div>
              <div class="panelMessage"><label> {{message?.text}} </label></div>
              <small id="emailHelp" class="form-text text-muted">{{message?.createdDate}}</small>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed-bottom">
    <div class="row">
      <div class="col-lg-5 offset-lg-5">
        <div class="panelMainInput">
          <div class="form-group">
            <form ng-submit="sendMessage()">
              <label for="message">Message</label>
              <input [(ngModel)]="messageText" (keyup.enter)="sendMessage()" type="text" class="form-control" name="message"
                id="message" aria-describedby="helpId" placeholder="Write something here">
            </form>
          </div>
          <div class="panelSendButton">
            <button (click)="sendMessage()" class="btn btn-outline-info">Send message <i class="glyphicon glyphicon-hand-left"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>