<ul class="nav navbar-nav navbar-right">
    <li><a role="button" (click)="logOut()"><span class="glyphicon glyphicon-cog"></span> Log out</a></li>
    <li *ngIf="user"> <img [src]="getSercureURl(user?.photo_source)" height="50" width="50" style="border-radius:50%" /></li>
</ul>

<!-- <div *ngIf="user" class="container panelMain">
    <div class="row">
        <div class="col-4 panelUserInfo">
            Login:
        </div>
        <div class="col-8 panelUserInfo">
            {{user?.displayName}}
        </div>
    </div>
    <div class="row">
        <div class="col-4 panelUserInfo">
            Email:
        </div>
        <div class="col-8 panelUserInfo">
            {{user?.email}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 panelUserImage">
            <img [src]="getSercureURl(user?.photo_source)" class="imgUser" />
        </div>
    </div>
</div> -->