.dropdown-toggle{
    color: white;
}

.dropdown-toggle .glyphicon{
    font-size: 25px;
}

.panel-heading{
    font-size: x-large;
    padding: 0px;
}

.navbar{
    margin: 0px !important;
}

.dropdownSettings{
    width: 200px !important;
}