<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Chat</a>
        </div>

        <!-- Menu Items -->
        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Login</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li>
                </li>
            </ul>

            <app-user></app-user>


        </div>

    </div>

    <!--   <nav class="navbar navbar-expand-lg navbar-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <p class="glyphicon glyphicon-cog"></p>
            </a>
            <div class="dropdown-menu dropdownSettings" aria-labelledby="navbarDropdown">
              
            </div>
        </nav> -->

</nav>

<!--The content below is only a placeholder and can be
                            reä[[placed.-->
<div id="container">
    <router-outlet></router-outlet>
</div>